*{
    margin: 0px;
    padding: 0px;
}

body, main, .chat-display, .msg-form, 
#welcome-form,.register-btns, #signup-form,
#signup-form ul, #signup-form li, #login-form, #login-form ul{
    display: flex;
}

body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 90%;
}

input{
    padding: 5px 10px;
    border-radius: 5px;
}

button{
    border-radius: 5px;
    padding: 5px 10px;
}

button:focus{
    outline: none;
}

.chat-display{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(168, 168, 168);
    border-radius: 10px;
    margin-top: 1%;
}

.msg-form{
    position: absolute;
    bottom: 1%;
    justify-content: center;
    gap: 2px;
    height: 5%;
    width: 100%;
}

#msg-input{
    width: 55%;
}

#msg-btn{
    padding: 5px 10px;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.37);
}

#first-modal{
    position: fixed;
    z-index: 1;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 300px;
    border: none;
    border-radius: 2%;
    background-color: rgb(255, 255, 190);
}

#welcome-form{
    flex-direction: column;
    border: none;
    padding: 5% 10%;
    gap: 3%;
}

#welcome-form h1{
    font-size: 2.8em;
}

#welcome-form h3{
    font-size: 1.3em;
}

#welcome-form h5{
    font-size: 1.2em;
}

#welcome-form ul{
    list-style-position: inside;
}

#welcome-form li{
    font-size: 1.1em;
}

.register-btns{
    width: 100%;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.register-btns button{
    width: 100%;
    border: none;
    transition: ease-in-out 0.2s; 
}

.register-btns button:hover{
    transform: scale(1.05);
}

.register-btns button:active{
    transform: scale(0.95);
}

#to-login-btn{
    background-color: rgb(255, 198, 92);
}

#to-signup-btn{
    background-color: rgb(127, 223, 255);
}

.back-btn:active{
    transform: scale(0.9)
}

.go-back{
    height: 18px;
    width: auto;
    transition: ease-in-out 0.2s;
}

.go-back:hover{
    transform: scale(1.2);
}

#signup-modal{
    position: fixed;
    z-index: 1;
    top: 16%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 470px;
    border: none;
    border-radius: 2%;
    background-color: rgb(255, 255, 190);
}

#signup-form{
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#goback-btn1{
    background-color: transparent;
    border: none;
    margin-right: auto;
    margin-left: -12px;
}

#signup-form legend{
    font-size: 2em;
    font-weight: 500;
    margin-top: -30px;
}

#signup-form ul{
    gap: 12px;
    padding: 30px 10px;
}

#signup-form ul{
    list-style: none;
}

#signup-form li{
    flex-direction: column;
    gap: 12px;
}

#signup-form input{
    border: 1px solid grey;
    font-size: 1em;
}

#signup-submit{
    width: 40%;
    border: none;
    background-color: rgb(255, 196, 85);
    padding: 7px 0px;
    transition: 0.2s ease-in-out;
}

#signup-submit:hover{
    transform: scale(1.05);
}

#signup-submit:active{
    transform: scale(0.95);
}

#login-modal{
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 280px;
    border: none;
    border-radius: 2%;
    background-color: rgb(255, 255, 190);
}

#login-form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

#goback-btn2{
    background-color: transparent;
    border: none;
    margin-right: auto;
    margin-left: 3px;
    margin-bottom: 15px;

}

#login-form legend{
    font-size: 2em;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 20px;
}

#login-form ul{
    flex-direction: column;
    align-items: center;
    gap: 12px;
    list-style: none;
}

#login-form input{
    font-size: 1.05em;
    border: 1px solid grey;
}

#login-submit{
    font-size: 1em;
    padding: 7px 15px;
    background-color:rgb(255, 196, 85);
    border: none;
    transition: 0.2s ease-in-out;
}

#login-submit:hover{
    transform: scale(1.05);
}

#login-submit:active{
    transform: scale(0.95);
}




